body {
  margin: 0;
  color: #ebd8ff;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 500;

  background: rgb(78, 0, 16);
  background: linear-gradient(
    87deg,
    rgba(78, 0, 16, 1) 0%,
    rgba(125, 67, 186, 1) 100%
  );

  /* background: rgb(42, 25, 21);
  background: linear-gradient(
    87deg,
    rgba(42, 25, 21, 0.7456232492997199) 0%,
    rgba(156, 134, 207, 1) 81%
  ); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}
